.isMobile {
  display: none;
}

.site-layout {
  .site-layout-background {
    background: #fff;
  }
}

.app-title {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, helvetica neue, Arial, Helvetica, sans-serif;
}

.ant-btn-primary:not(:disabled) {
  color: white;
  &:hover,
  &:active,
  &:focus {
    color: white;
  }
}

.ant-spin-nested-loading,
.ant-spin-container {
  width: 100%;
}

.action-button-link {
  color: #0a4463;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;

  &[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    border: none;
    background: transparent;
    pointer-events: none;
  }

  & button[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    border: none;
    background: transparent;
    pointer-events: none;
  }
}

.header {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background: #fff;
  z-index: 1000;
  padding: 0 20px;
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  grid-template-columns: 30% 40% 30%;
  grid-row: 1;
}

.ant-tooltip-inner a {
  color: inherit;
}

.logo-container {
  max-width: 263px;
  img {
    object-fit: contain;
    max-width: 100%;
  }
}

.height-100 {
  height: 100%;
}

.profile-dd-text {
  display: inline-block;
  padding-right: 10px;
}

.loading-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("assets/images/bg.svg");
}

.span-link {
  margin: -5px -12px;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.85);
  transition: all 0.3s;
}

.flex-row {
  display: flex !important;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  &.--row-start {
    justify-content: flex-start;
    justify-self: start;
  }
  &.--row-end {
    justify-content: flex-end;
    justify-self: end;
  }
  &.--row-center {
    justify-content: center;
    justify-self: center;
  }
  &.--flex-col {
    flex-flow: column;
  }
}

.bold-row {
  font-size: 16px;
  font-weight: 600;
}

.fixed-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 64px;
}

.content-sider-wrap {
  margin-top: 64px;
}

.app {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  background-image: url("assets/images/bg.svg");
  background-size: 100%;
  .ant-layout {
    min-height: calc(100vh - 64px);
    .ant-menu-sub.ant-menu-inline > .ant-menu-item,
    .ant-menu-sub.ant-menu-inline
    > .ant-menu-submenu
    > .ant-menu-submenu-title {
      white-space: normal;
      height: auto;
      line-height: 25px;
      padding-bottom: 5px;
      .anticon {
        position: relative;
        top: 1px;
      }
    }
    .content-wrap {
      background: white;
      width: 100%;
      min-height: calc(100vh - 150px);
      .ant-form-inline .ant-form-item {
        margin: 0;
      }
      .ant-tabs-nav-operations {
        background: white;
        margin-bottom: 2px !important;
      }
      .ant-tabs-top > .ant-tabs-nav,
      .ant-tabs-bottom > .ant-tabs-nav,
      .ant-tabs-top > div > .ant-tabs-nav,
      .ant-tabs-bottom > div > .ant-tabs-nav {
        margin: 0;
      }
    }

    .ant-picker-cell-in-view {
      color: black;
    }
    .ant-layout {
      &-footer {
        padding: 19px 50px;
      }
      &-header {
        line-height: unset;
      }
    }
  }
}

.action-button-icon {
  font-size: 18px;
  vertical-align: middle;
}

.ant-table {
  *:not(span):not(.ant-btn-link):not(.ant-btn-text) {
    border-color: #e0dedc;
  }
  .ant-table-body {
    box-shadow: -10px 0px 10px 0px #000000b0 inset;
    padding: 15px 0;
  }
}

.header-report-table {
  margin: 20px;
  * {
    border-color: #b8b2ad !important;
  }
}

.ant-message {
  z-index: 10000000;
}

.ant-picker-calendar-mode-switch {
  display: none;
}

.ant-col-custom-size {
  min-width: 90px !important;
}

.editable-row {
  &.correct-row {
    td {
      vertical-align: top;
    }
  }
}

//.ant-dropdown,
.ant-picker-dropdown {
  z-index: 300001;
}

//.ant-table-row:not(.ant-table-row-level-0) {
//  .ant-table-row-indent {
//    display: none;
//    & + .ant-table-row-expand-icon {
//      display: none;
//    }
//  }
//}

@media (max-width: 992px) {
  .ant-layout-sider-collapsed.fixed-sider {
    overflow: hidden;
    height: calc(100vh - 64px);
    position: fixed;
    left: -80px;
    width: 80px !important;
    max-width: 80px !important;
  }

  .fixed-sider {
    left: 0;
    width: 100vw !important;
    max-width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.3);
    .ant-layout-sider-children {
      background-color: white;
      width: 260px;
      max-width: 260px;
    }
  }

  .content-sider-wrap {
    margin-left: unset !important;
  }

  .profile-dd-text {
    display: none;
  }

  .menu-open {
    overflow: hidden;
    height: 100vh;
    position: relative;
  }
}

.ant-checkbox-group-item {
  margin-right: 0 !important;
}

.analytics-table {
  thead tr:last-child th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    text-align: center;
  }
  tr {
    &:not(:first-child) td {
      padding: 5px !important;
    }
    td:not(:first-child) {
      width: 120px;
      text-align: right;
    }
  }
}

.bold td {
  font-weight: bold;
}

.fixed-drawer-button {
  position: fixed;
  bottom: 100px;
  right: 12px;
  z-index: 1000;
  &.--export {
    bottom: 150px;
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.catalog_drawer-form {
  .ant-form-item-label {
    white-space: normal;
  }
  .ant-form-item-control-input-content {
    display: flex;
    justify-content: space-between;
  }
}
.ant-progress-inner {
  border: solid #bfbfbf 1px;
}
.ant-progress-line {
  width: 60%;
  margin-left: 20px;
}

.catalog-drawer .ant-drawer-body {
  overflow: hidden;
}

.ant-drawer-footer .ant-form-item {
  margin-bottom: 0;
}

tbody > tr:hover > td.ant-table-cell {
  background-color: #b6ccd8 !important;
}

.ant-picker.ant-picker-disabled.not-picker-disable-style {
  background: inherit;
  & input[disabled] {
    color: inherit;
  }
}

/*@media screen and (max-width: "1024px") {
  .app {
    display: none;
  }
  .isMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }
}*/
